extends layout


block content
  html
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  <!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]--> 
  <!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]--> 
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  head
    block title
      title Acceptance Testing Demo
        h1 Acceptance Testing Demo
    link(rel="shortcut icon" href="favicon.ico" type="image/ico")
  body